@import "addons.scss";
@import "wd.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in wd.scss */
.wd {
  @include addons;
  @include wd;
}

.wd .v-panel {
  border: none;
}

.mainLayout {
  top: 100px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 1024px;
}

.topComponent {
  width: 1024px;
  height: 100px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: right;
}

.mainMenu {
  margin-right: 80px;
  cursor: pointer;
  background-color: #eee;
}

.mainMenuItem {
  border: 1px #ddd solid;
}

.mainMenu .mainMenuItem span {
  position: relative;
  top: 13px;
  font-size: 1.7em;
  left: 5px;
}

.backgroundUltraLightGray {
  background-color: #eee;
}

.backgroundLightGray {
  background-color: lightgray;
}

.loginPanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 185px;
}

.marginTen {
  margin: 10px;
}

.paddingTen {
  padding: 10px;
}

.defaultBGcolour {
  background-color: #fafafa;
}